#cvimg {
  height: 20%;
  width: 15%;
  /* float: right; */
  border-radius: 50%;
  border: 2px solid rgba(95, 118, 250, 0.623);
  margin-left: 3%;
  margin-top: 3%;
}
.leftside {
  max-width: 25%;
}
.labels {
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 20px;
}
#mainleft {
  background-color: aliceblue;
}
body {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style-type: none;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}
